<!DOCTYPE html>
<html lang = "pt br">
    <style>
        body {
                background-color: black;
                color: white;
                font-family: 'Courier New', Courier, monospace;
                font-size: larger;
                text-align: center;
                margin-top: 10%;
                margin-bottom: 10%;
            }

        button {
            background-color: black;
            color: white;
            border: none;
            font-size: larger;
            cursor: pointer;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
        }

            button:hover {
                text-decoration: underline;
                text-decoration-color:currentColor;
            }
        
        input[type='radio'] {
            box-sizing: border-box;
            appearance: none;
            background: black;
            outline: 2px solid white;
            border: 3px solid black;
            width: 16px;
            height: 16px;
            cursor: pointer;
        }

        input[type='radio']:checked {
            background: white;
            cursor: pointer;
        }
    </style>
    <script>
        let colors = []
        
    </script>
    <head>
        <meta charset="UTF-8">
        <title>Scoundrel</title>
    </head>
    <body>
        <p style="margin-top: 1%;"><span style="font-weight: bold;">Vida:</span> {{vidaAtual}}/20</p>
        <p style="margin-top: 1%;"><span style="font-weight: bold;">Masmorra</span> {{baralho}}</p>
        <p style="margin-top: 1%; "> <span style="font-weight: bold;">Arma Equipada:</span> {{arma}} {{desgaste}}</p>
    <form action="/game" method="post">
        <span style="font-weight: bold;">Usar:</span> <input type="radio" id="mao" name="usar" value="Mão" checked><label for="mao" style="cursor: pointer;"> Mão</label>   <input type="radio" id="arma" name="usar" value="Arma"><label for="arma" style="cursor: pointer;"> Arma</label>
        <p style="margin-top: 2%;">
                {% if color1 == "b" %}
                    <button value="1" name="btn1">
                        <span style="color: gray; font-weight: bold;">[</span>{{value1}} {{card1}}<span style="color: gray; font-weight: bold;">]</span>
                    </button>
                {% elif color1 == "r" %}
                    <button value="1" name="btn1">
                        <span style="color: red; font-weight: bold;">[</span>{{value1}} {{card1}}<span style="color: red; font-weight: bold;">]</span>
                    </button>
                {% elif color1 == "c" %}
                    <button value="1" name="btn1">
                        <span style="color: dodgerblue; font-weight: bold;">[</span>{{value1}} {{card1}}<span style="color: dodgerblue; font-weight: bold;">]</span>
                    </button>
                {% elif color1 == "y" %}
                    <button value="1" name="btn1">
                        <span style="color: gold; font-weight: bold;">[</span>{{value1}} {{card1}}<span style="color: gold; font-weight: bold;">]</span>
                    </button>
                {% else %}
                    -- -- 
                {% endif %}
                <br>
        </p>
        
        <p>
                {% if color2 == "b" %}
                    <button value="2" name="btn2">
                        <span style="color: gray; font-weight: bold;">[</span>{{value2}} {{card2}}<span style="color: gray; font-weight: bold;">]</span>
                    </button>
                {% elif color2 == "r" %}
                    <button value="2" name="btn2">
                        <span style="color: red; font-weight: bold;">[</span>{{value2}} {{card2}}<span style="color: red; font-weight: bold;">]</span>
                    </button>
                {% elif color2 == "c" %}
                    <button value="2" name="btn2">
                        <span style="color: dodgerblue; font-weight: bold;">[</span>{{value2}} {{card2}}<span style="color: dodgerblue; font-weight: bold;">]</span>
                    </button>
                {% elif color2 == "y" %}
                    <button value="2" name="btn2">
                        <span style="color: gold; font-weight: bold;">[</span>{{value2}} {{card2}}<span style="color: gold; font-weight: bold;">]</span>
                    </button>
                {% else %}
                    -- -- 
                {% endif %}
                <br>
        </p>
        <p>
                {% if color3 == "b" %}
                    <button value="3" name="btn3">
                        <span style="color: gray; font-weight: bold;">[</span>{{value3}} {{card3}}<span style="color: gray; font-weight: bold;">]</span>
                    </button>
                {% elif color3 == "r" %}
                    <button value="3" name="btn3">
                        <span style="color: red; font-weight: bold;">[</span>{{value3}} {{card3}}<span style="color: red; font-weight: bold;">]</span>
                    </button>
                {% elif color3 == "c" %}
                    <button value="3" name="btn3">
                        <span style="color: dodgerblue; font-weight: bold;">[</span>{{value3}} {{card3}}<span style="color: dodgerblue; font-weight: bold;">]</span>
                    </button>
                {% elif color3 == "y" %}
                    <button value="3" name="btn3">
                        <span style="color: gold; font-weight: bold;">[</span>{{value3}} {{card3}}<span style="color: gold; font-weight: bold;">]</span>
                    </button>
                {% else %}
                    -- -- 
                {% endif %}
                <br>
        </p>
        <p>
                {% if color4 == "b" %}
                    <button value="4" name="btn4">
                        <span style="color: gray; font-weight: bold;">[</span>{{value4}} {{card4}}<span style="color: gray; font-weight: bold;">]</span>
                    </button>
                {% elif color4 == "r" %}
                    <button value="4" name="btn4">
                        <span style="color: red; font-weight: bold;">[</span>{{value4}} {{card4}}<span style="color: red; font-weight: bold;">]</span>
                    </button>
                {% elif color4 == "c" %}
                    <button value="4" name="btn4">
                        <span style="color: dodgerblue; font-weight: bold;">[</span>{{value4}} {{card4}}<span style="color: dodgerblue; font-weight: bold;">]</span>
                    </button>
                {% elif color4 == "y" %}
                    <button value="4" name="btn4">
                        <span style="color: gold; font-weight: bold;">[</span>{{value4}} {{card4}}<span style="color: gold; font-weight: bold;">]</span>
                    </button>
                {% else %}
                    -- -- 
                {% endif %}
                <br> 
        </p>
        <p>
                {% if color5 == "b" %}
                    <button value="5" name="btn5">
                        <span style="color: gray; font-weight: bold;">[</span>{{value5}} {{card5}}<span style="color: gray; font-weight: bold;">]</span>
                    </button>
                {% elif color5 == "r" %}
                    <button value="5" name="btn5">
                        <span style="color: red; font-weight: bold;">[</span>{{value5}} {{card5}}<span style="color: red; font-weight: bold;">]</span>
                    </button>
                {% elif color5 == "c" %}
                    <button value="5" name="btn5">
                        <span style="color: dodgerblue; font-weight: bold;">[</span>{{value5}} {{card5}}<span style="color: dodgerblue; font-weight: bold;">]</span>
                    </button>
                {% elif color5 == "y" %}
                    <button value="5" name="btn5">
                        <span style="color: gold; font-weight: bold;">[</span>{{value5}} {{card5}}<span style="color: gold; font-weight: bold;">]</span>
                    </button>
                {% else %}
                    -- -- 
                {% endif %}
                <br>
        </p>
        <p style="margin-top: 1%;"></p>
            {% if corre == True %}
                <button value="6" name="btn6">&ltcc; Correr &gtcc;</button>
            {% endif %}
        </p>
    </form>
        <p style="margin-top: 2%;">
            {{acao}}
        </p>
    </body>
</html>