<!DOCTYPE html>
<html lang = "pt br">
    <style>
        body {
                background-color: black;
                color: white;
                font-family: 'Courier New', Courier, monospace;
                text-align: center;
                margin-top: 10%;
                margin-bottom: 10%;
            }
    </style>
    <head>
            <meta charset="UTF-8">
            <title>Scoundrel</title>
    </head>
    <body>
        <div>
        <h1>
            Bem-vindo a Scoundrel
        </h1>
        <p>
            Aqui, você vai aprender tudo o que precisa saber sobre este jogo. 
        </p>
        <h2 style="margin-top: 3%;">
            = = = Objetivo = = =
        </h2>
        <p>
            O seu objetivo principal é entrar em uma masmorra e eliminar todas as criaturas dentro dela, usando armas e poções.
        </p>
        <p>
            Masmorras consistem de salas. Cada sala consiste de cinco cartas (sim, Scoundrel é um jogo de cartas).
        </p>
        <h2 style="margin-top: 3%;">
            = = = Naipes = = =
        </h2>
        <p>
            Há quatro naipes, cada um com uma função no jogo e todos colorizados para melhor reconhecimento. Eles são:
        </p>
        <p>
            <span style="color: gray;">Espadas </span>
            <span>e </span>
            <span style="color: dodgerblue;">Paus</span>
            <span>: são as criaturas na masmorra. Derrote todas elas e você vencerá o jogo.</span>
        </p>
        <p>
            <span style="color: red;">Copas</span>
            <span>: são poções e curam a sua vida (o máximo é 20).</span>
        </p>
        <p>
            <span style="color: gold;">Ouros</span>
            <span>: são as armas que você pode usar dentro da masmorra contra as criaturas.</span>
        </p>
        <h2 style="margin-top: 3%;">
            = = = Sala = = =
        </h2>
        <p>
            Ao entrar em uma sala, você será apresentado a cinco cartas. Escolha uma delas e uma das ações vai acontecer de acordo com o naipe.
        </p>
        <p>
            <span style="color: gray;">Espadas </span>
            <span>e </span>
            <span style="color: dodgerblue;">Paus</span>
            <span>: você enfrenta a criatura com a sua arma equipada ou com suas mãos.</span>
        </p>
        <p>
            <span style="color: red;">Copas</span>
            <span>: você cura a sua vida. Você só pode ser curado uma vez por sala.</span>
        </p>
        <p>
            <span style="color: gold;">Ouros</span>
            <span>: você equipa a arma e pode usá-la contra as criaturas da masmorra.</span>
        </p>
        <p>
            Além disso, cada carta possui um valor que determina a sua força para cada naipe.
        </p>
        <p>
            Você escolhe quatro cartas, fazendo as ações de cada uma, até que reste apenas uma carta.
        </p>
        <p>
            Com isso, quatro novas cartas serão introduzidas e você terá movido para uma nova sala.
        </p>
        <h2 style="margin-top: 3%;">
            = = = Combate = = =
        </h2>
        <p>
            Ao enfrentar uma criatura, você pode escolher entre usar a sua arma ou as suas mãos.
        </p>
        <p>
            Mãos: você perde vida igual ao valor da criatura e derrota ela.
        </p>
        <p>
            Arma: você derrota uma criatura que tenha valor igual ou menor ao valor da arma sem sofrer dano, mas o valor da arma se torna o da criatura derrotada.
        </p>
        <p>
            Arma: você derrota uma criatura que tenha valor igual ou menor ao valor da arma sem sofrer dano, mas o valor da arma se torna o da criatura derrotada.
        </p>
        <h2 style="margin-top: 3%;">
            = = = Poções  = = =
        </h2>
        <p>
            Ao usar uma poção, você cura vida igual ao valor da poção. A cura não pode exceder o seu limite de vida (que é 20).
        </p>
        <p>
            Além disso, você só pode se curar com uma poção uma vez por sala (você ainda pode escolher uma outra poção na sala, só não vai ser curado).
        </p>
        <h2 style="margin-top: 3%;">
            = = = Correr  = = =
        </h2>
        <p>
            Quando você estiver em uma sala que julgue muito difícil (cinco criaturas) ou que possa desperdiçar recursos (muitas poções e armas), você sempre pode correr.
        </p>
        <p>
            Correr é uma ação em que você re-embaralha as cartas da sala no baralho da Masmorra e cria uma nova sala, introduzindo cinco cartas novas.
        </p>
        <p>
            Saiba que esta ação não pode ser usada duas vezes seguidas e só pode ser usada quando há cinco cartas na sala e pelo menos uma carta no baralho da Masmorra.
        </p>
        <p style="margin-top: 4%; font-size: 20px;">
            É isso, você já está pronto para limpar uma masmorra. Boa sorte e bom jogo! :D
        </p>
        </div>
    </body>
</html>